<% provide(:title, "Teams") %>
<h1>Teams</h1>

<table class="table table-striped team-table-witdh">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Flag</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.code %></td>
        <td><%= team.flag %></td>
        <td><%= team.selection %></td>
        <td>
          <%= link_to team, class: "action_button" do %>
              <i class="fa fa-info-circle"></i>
          <% end %>
          <%= link_to edit_team_path(team), class: "action_button" do %>
              <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to team, class: "action_button", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
