<p id="notice"><%= notice %></p>

<h1>Rankings</h1>

<table>
  <thead>
    <tr>
      <th>faction</th>
      <th>Tournament</th>
      <th>Member</th>
      <th>3 points</th>
      <th>1 point</th>
      <th>0 point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
        <td><%= ranking.faction_id %></td>
        <td><%= ranking.tournament_id %></td>
        <td><%= ranking.member_id %></td>
        <td><%= ranking.point3 %></td>
        <td><%= ranking.point1 %></td>
        <td><%= ranking.point0 %></td>
        <td><%= link_to 'Show', ranking %></td>
        <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
        <td><%= link_to 'Destroy', ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ranking', new_ranking_path %>
