<% provide(:title, "League") %>

<h1><%= @league.name %></h1>

<% if can? :update, @league %>
  <%= link_to 'Edit', edit_league_path(@league) %>
<% end %>

<h3>Members</h3>

<ul>
<% @league.users.each do |user| %>
  <li><%= user.username %> (<%= user.league_occupation(@league.id) %>)</li>
<% end %>
</ul>

<% if can? :update, @league %>

  <h3>Requests</h3>

  <ul>
  <% @league.requests.pending.each do |request| %>
      <li>
        <%= request.user.username %>
        <%= form_for request  do |form| %>
          <%= form.hidden_field :status, id: :request_status, value: "accepted" %>
          <%= form.submit "Accept", class: "btn btn-primary" %>
        <% end %>

        <%= form_for request  do |form| %>
            <%= form.hidden_field :status, id: :request_status, value: "rejected" %>
            <%= form.submit "Reject", class: "btn btn-primary" %>
        <% end %>
      </li>
  <% end %>
  </ul>
<% end %>

<h3>Tournaments</h3>
<ul>
  <% @league.tournaments.each do |tournament| %>
    <li>
      <%= link_to [@league, tournament], class: "action_button" do %>
          <i class="fa fa-info-circle"></i><%= tournament.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if can? :update, @league %>

  Add tournament:<br>
  <ul>
    <% Tournament.all.each do |tournament| %>
        <li>
          <%= tournament.name %>
          <%= form_for @league do |form| %>
              <%= form.hidden_field :league_id, id: :league_id, value: @league_id %>
              <%= form.hidden_field :tournament_ids, id: :tournament_id, value: tournament.id %>
              <%= form.submit "Add", class: "btn btn-primary" %>
          <% end %>
        </li>
    <% end %>
  </ul>
<% end %>
