<%= form_with(model: [:manager, game], local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :tournament_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.collection_select(:tournament_id, Tournament.all, :id, :name, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :home_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.collection_select(:home_id, Team.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :away_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.collection_select(:away_id, Team.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :result, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :result, id: :game_result %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :kickoff_at, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.datetime_select :kickoff_at, id: :game_kickoff_at %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :stage, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.select :stage, Game.stages.keys, id: :game_stage %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :pool, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.select :pool, Game.pools.keys, id: :game_pool %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :stadium_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.collection_select(:stadium_id, Stadium.all, :id, :name) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
