
<% games.each do |game| %>
<div class="row row-games">
  <div class="col-md-2 col-2">
    <span class="d-md-none">
      <%= game.kickoff_at_format("%d/%m %H:%M") %>
    </span>
    <span class="d-none d-md-block">
      <%= game.kickoff_at_format %>
    </span>
    <span class="d-none d-md-block">
      <% if game.group != nil %>
        Group <%= game.group %>,
      <% end %>
      <%= game.round %>
      <br>
      <%= game.stadium.name %>
    </span>
  </div>
  <div class="col-3 col-md-1 "><%= image_tag(game.home.flag_path, size: "46x28") %></div>
  <div class="col-md-3 d-none d-md-block big_font"><%= game.home.name %></div>
  <div class="col-md-1 col-3 center">
    <% if not game.result.empty? %>
      <span class="big_font"><%= game.result %></span>
    <% else %>
      <%= text_field_tag "game-#{game.id}", game.result, size: 3,
            "data-original-result": "#{game.result}",
            onfocusout: "updateResult(#{game.id})" %>
      <%= content_tag(:span, "", id: "status-game-#{game.id}") %>
    <% end %>
  </div>
  <div class="col-md-3 d-none d-md-block big_font text-right"><%= game.away.name %></div>
  <div class="col-md-1 col-3"><%= image_tag(game.away.flag_path, size: "46x28") %></div>
  <div class="col-md-1 col-12" style="border-bottom: 1px solid #eceeef">
    <%= link_to edit_manager_game_path(game), class: "action_button" do %>
      <%= icon('far', 'edit') %>
    <% end %>
    <%= link_to [:manager, game], class: "action_button", method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= icon('fas', 'times') %>
    <% end %>
  </div>
</div>
<% end %>


<script>
  // update the result using ajax
  function updateResult(gameId) {
    result = $("#game-" + gameId).val();

    if (result == "")
      return;

    originalResult = $("#game-" + gameId).attr("data-original-result")
    if (result == originalResult)
      return;

    $.ajax({
      type: "POST",
      url: "<%= manager_games_path %>/" + gameId + ".json",
      data: { game: { result: result },
              _method:'put',
              remote: true,
              authenticity_token: "<%= form_authenticity_token %>"
            },
      success: function(data) {
        if (data.msg == "ok") {
          $("#game-" + gameId).css("background-color", "greenyellow");
          $("#game-" + gameId).attr("data-original-result", result);
          $("#status-game-" + gameId).html("saved");
        } else {
          $("#game-" + gameId).css("background-color", "red");
          $("#status-game-" + gameId).html("error");
        }
      },
      error: function(data) {
        $("#game-" + gameId).css("background-color", "red");
        $("#status-game-" + gameId).html("error");
      }
  });
  }
</script>
