<% provide(:title, "Games") %>
<div class="container">
<h1>Games</h1>

<%= render partial: 'games', locals: { games: @games, title: "Games" } %>

<br>

<%= link_to 'New Game', new_manager_game_path %>


<br>
<hr>
Import games from csv file: 
<%= form_tag import_manager_games_path, multipart: true do %>
  <%= select_tag "tournament_id", options_from_collection_for_select(Tournament.all, "id", "name") %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>
