<% provide(:title, "Game") %>
<p>
  <strong>Tournament:</strong>
  <%= @game.tournament.name %>
</p>

<p>
  <strong>Home:</strong>
  <%= @game.home.name %>
</p>

<p>
  <strong>Away:</strong>
  <%= @game.away.name %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>Kickoff at:</strong>
  <%= @game.kickoff_at %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @game.stage %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @game.pool %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @game.stadium.name %>
</p>

<%= link_to 'Edit', edit_manager_game_path(@game) %> |
<%= link_to 'Back', manager_games_path %>
