
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" style="background-color: #e3f2fd;">
  <span class="navbar-brand d-none d-lg-block" href="#">&nbsp;</span>
  <span class="navbar-brand d-lg-none" href="#">Groups</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Group A', faction_tournament_group_path(@faction, @tournament, "A"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group B', faction_tournament_group_path(@faction, @tournament, "B"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group C', faction_tournament_group_path(@faction, @tournament, "C"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group D', faction_tournament_group_path(@faction, @tournament, "D"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group E', faction_tournament_group_path(@faction, @tournament, "E"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group F', faction_tournament_group_path(@faction, @tournament, "F"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group G', faction_tournament_group_path(@faction, @tournament, "G"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Group H', faction_tournament_group_path(@faction, @tournament, "H"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Round of 16', faction_tournament_round_path(@faction, @tournament, "round16"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Quarter-finals', faction_tournament_round_path(@faction, @tournament, "quarter"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Semi-finals', faction_tournament_round_path(@faction, @tournament, "semi"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Final', faction_tournament_round_path(@faction, @tournament, "final"), class: "nav-link" %>
          </li>
      </ul>
    </div>
</nav>
