
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Group A', league_tournament_group_path(@league, @tournament, "A"), class: "btn btn-secondary" %>
  <%= link_to 'Group B', league_tournament_group_path(@league, @tournament, "B"), class: "btn btn-secondary" %>
  <%= link_to 'Group C', league_tournament_group_path(@league, @tournament, "C"), class: "btn btn-secondary" %>
  <%= link_to 'Group D', league_tournament_group_path(@league, @tournament, "D"), class: "btn btn-secondary" %>
  <%= link_to 'Group E', league_tournament_group_path(@league, @tournament, "E"), class: "btn btn-secondary" %>
  <%= link_to 'Group F', league_tournament_group_path(@league, @tournament, "F"), class: "btn btn-secondary" %>
  <%= link_to 'Group G', league_tournament_group_path(@league, @tournament, "G"), class: "btn btn-secondary" %>
  <%= link_to 'Group H', league_tournament_group_path(@league, @tournament, "H"), class: "btn btn-secondary" %>
  <button type="button" class="btn btn-secondary">Round of 16</button>
  <button type="button" class="btn btn-secondary">Quarter-finals</button>
  <button type="button" class="btn btn-secondary">Semi-finals</button>
  <button type="button" class="btn btn-secondary">Final</button>
</div>
