
<h3><%= title %></h3>

<!-- https://v4-alpha.getbootstrap.com/layout/grid/ -->
<!-- https://stackoverflow.com/questions/35351353/missing-visible-and-hidden-in-bootstrap-v4 -->

<% games.each do |game| %>
<div class="row row-games">
  <div class="col-md-3 col-3">
    <span class="d-md-none">
      <%= game.kickoff_at_format("%d/%m, %H:%M") %>
    </span>
    <span class="d-none d-md-block">
      <%= game.kickoff_at_format %>
    </span>
    <span class="d-none d-md-block">
      <% if game.group != nil %>
        Group <%= game.group %>,
      <% end %>
      <%= game.round %>
      <br>
      <%= game.stadium.name %>
    </span>
  </div>
  <div class="col-3 col-md-1 "><%= image_tag(game.home.flag_path, size: "46x28") %></div>
  <div class="col-md-3 d-none d-md-block big_font"><%= game.home.name %></div>
  <div class="col-md-1 col-3 center">
    <% if is_past_game(game) %>
      <span class="big_font"><%= game.result %></span>
      <br>
      <% if game.guess_result %>
        <span class="badge <%= getBadgeClass(game.result, game.guess_result) %>"><%= game.guess_result %></span>
      <% else %>
        n/a
      <% end %>
    <% else %>
      <%= text_field_tag "guess-game-#{game.id}", game.guess_result, size: 3,
            "data-original-guess": "#{game.guess_result}",
            onfocusout: "updateGuess(#{game.id})" %>
    <% end %>
  </div>
  <div class="col-md-3 d-none d-md-block big_font text-right"><%= game.away.name %></div>
  <div class="col-md-1 col-3"><%= image_tag(game.away.flag_path, size: "46x28") %></div>

</div>
<% end %>


<script>
  // update the guess using ajax
  function updateGuess(gameId) {
    guess    = $("#guess-game-" + gameId).val();
    factionId = <%= @faction.id %>;

    if (guess == "")
      return;

    originalGuess = $("#guess-game-" + gameId).attr("data-original-guess")
    if (guess == originalGuess)
      return;

    $.ajax({
      type: "POST",
      url: "<%= guesses_path %>",
      data: { guess: { result: guess,
                       faction_id: factionId,
                       game_id: gameId },
              authenticity_token: "<%= form_authenticity_token %>"
            },
      success: function(data) {
        if (data.msg == "ok") {
          $("#guess-game-" + gameId).css("background-color", "greenyellow");
          $("#guess-game-" + gameId).attr("data-original-guess", guess);
        } else {
          $("#guess-game-" + gameId).css("background-color", "red");
        }
      },
      error: function(data) {
        $("#guess-game-" + gameId).css("background-color", "red");
      }
  });
  }
</script>
