
<h3><%= title %></h3>

<table class="table vertical-align">
  <tbody>
    
  <% games.each do |game| %>
    <tr>
      <td>
        <%= game.kickoff_at %>
        <br>
        <% if game.group != nil %>
          Group <%= game.group %>,
        <% end %>
        <%= game.round %>
        <br>
        <%= game.stadium.name %>
      </td>
      <td class="flag_size_col2"><%= image_tag(game.home.flag_path, size: "46x28") %></td>
      <td class="big_font"><%= game.home.name %></td>
      <td class="center">
        <% if is_past_game(game) %>
          <span class="big_font"><%= game.result %></span>
          <br>
          <% if game.guess_result %>
            <span class="badge <%= getBadgeClass(game.result, game.guess_result) %>"><%= game.guess_result %></span>
          <% else %>
            n/a
          <% end %>
        <% else %>
          <%= text_field_tag "guess-game-#{game.id}", game.guess_result, size: 5, 
                "data-original-guess": "#{game.guess_result}",
                onfocusout: "updateGuess(#{game.id})" %>
        <% end %>
      </td>
      <td class="big_font text-right"><%= game.away.name %></td>
      <td class="flag_size_col"><%= image_tag(game.away.flag_path, size: "46x28") %></td>
      
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  // update the guess using ajax
  function updateGuess(gameId) {
    guess    = $("#guess-game-" + gameId).val();
    leagueId = <%= @league.id %>;
    
    if (guess == "") 
      return;
    
    originalGuess = $("#guess-game-" + gameId).attr("data-original-guess")
    if (guess == originalGuess)
      return;
    
    $.ajax({
      type: "POST",
      url: "<%= guesses_path %>",
      data: { guess: { result: guess,
                       league_id: leagueId,
                       game_id: gameId },
              authenticity_token: "<%= form_authenticity_token %>"
            },
      success: function(data) {
        if (data.msg == "ok") {
          $("#guess-game-" + gameId).css("background-color", "greenyellow");
          $("#guess-game-" + gameId).attr("data-original-guess", guess);
        } else {
          $("#guess-game-" + gameId).css("background-color", "red");
        }
      },
      error: function(data) {
        $("#guess-game-" + gameId).css("background-color", "red");
      }
  });
  }
</script>
