<h3>Ranking</h3>
<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>3 points</th>
      <th>1 point</th>
      <th>0 point</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @rankings.each do |rank| %>
      <tr>
        <td><!-- # todo add position --></td>
        <td><%= rank.member.username %></td>
        <td><%= rank.point3 %></td>
        <td><%= rank.point1 %></td>
        <td><%= rank.point0 %></td>
        <td><%= rank.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
