<h3>Ranking</h3>
<table class="table table-striped" id="tableRanking" data-order='[[ 4, "desc" ]]'>
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>3 pts</th>
      <th>1 pt</th>
      <th>0 pt</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @rankings.each do |rank| %>
      <tr>
        <td><%= rank.member.username %></td>
        <td><%= rank.point3 %></td>
        <td><%= rank.point1 %></td>
        <td><%= rank.point0 %></td>
        <td><%= rank.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$(document).ready( function () {
    $('#tableRanking').DataTable({
        paging: false,
        searching: false,
        info: false
    });
} );
</script>
