<% provide(:title,  @tournament.name) %>
<div class="container">


<h1><%= @tournament.name %>, <%= @tournament.location %></h1>

<%= render 'buttons' %>

<br>
<br>

<table class="table table-striped">
  <% @table.each_with_index do |row, row_index| %>
    <% if row_index == 0 %>
      <thead class="thead-inverse">
        <tr>
          <% row.each_with_index do |col, col_index| %>
            <% if col_index == 0 %>
              <th colspan="4">
            <% else %>
              <th>
            <% end %>
              <%= col %>
            </th>
          <% end %>
        </tr>
      </thead>
    <% else %>
      <tr>
        <% row.each_with_index do |col, col_index| %>
          <% if col_index == 0 %>
            <th scope="row" class="big_font text-right"><%= col.home.name %></th>
            <th scope="row" class="flag_size_col"><%= image_tag(col.home.flag_path, size: "46x28") %></th>
            <th scope="row" class="flag_size_col"><%= image_tag(col.away.flag_path, size: "46x28") %></th>
            <th scope="row" class="big_font"><%= col.away.name %></th>
          <% elsif col_index == 1 %>
            <td class="big_font">
              <%= col %>
            </td>
          <% else %>
            <td class="big_font">
              <span class="badge <%= getBadgeClass(row[1], col) %>"><%= col %></span>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<br><br>

</div>
