<% provide(:title,  @tournament.name) %>
<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tournament.location %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tournament.year %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
