<% provide(:title,  @tournament.name) %>
<div class="container">


<h1><%= @tournament.name %>, <%= @tournament.location %></h1>

<%= render 'buttons' %>

<br>
<br>

<%= link_to faction_tournament_guesses_path(@faction, @tournament), class: "btn btn-success" do %>
  <%= icon("book") %> Past Guesses
<% end %>
<br>
<br>

<%= render partial: 'games', locals: { games: @coming_games, title: "Next 5 coming games" } %>
<br>


<%= render partial: 'games', locals: { games: @last_games, title: "Past 5 games" } %>
<br>

<%= render 'ranking' %>



</div>
