<% provide(:title, "Stadiums") %>
<h1>Stadiums</h1>

<table class="table table-striped stadium-table-witdh">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Capacity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stadia.each do |stadium| %>
      <tr>
        <td><%= stadium.name %></td>
        <td><%= stadium.city %></td>
        <td><%= stadium.capacity %></td>
        <td>
          <%= link_to  [:admin, stadium], class: "action_button" do %>
            <i class="fa fa-info-circle"></i>
          <% end %>
          <%= link_to edit_admin_stadium_path(stadium), class: "action_button" do %>
              <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to [:admin, stadium], class: "action_button", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times"></i>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stadium', new_admin_stadium_path %>
