<%= form_with(model: faction, local: true) do |form| %>
  <% if faction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faction.errors.count, "error") %> prohibited this faction from being saved:</h2>

      <ul>
      <% faction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-md-2 col-xs-12 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, id: :faction_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2"></div>
    <div class="col-10">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
