<% provide(:title, "factions") %>
<div class="container">
    
<h1>Factions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pending_factions.each do |faction| %>
      <tr>
        <td><%= faction.name %></td>
        <td>Waiting for answer</td>
      </tr>
    <% end %>
    <% @possible_factions.each do |faction| %>
      <tr>
        <td><%= faction.name %></td>
        <td>
          <%= form_for @request  do |form| %>
            <%= form.hidden_field :faction_id, id: :faction_id, value: faction.id %>
            <%= form.submit "Send request", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_faction_path, class: "nav-link" do %>
  <%= icon('far', "plus-square")%> Create a faction
<% end %>

</div>
