<% provide(:title, "faction") %>

<h1>
  <%= @faction.name %>
  <% if can? :update, @faction %>
    <%= link_to edit_faction_path(@faction) do %>
      <%= icon('far', 'edit') %>
    <% end %>
  <% end %>
</h1>


<div class="container">
  <ul id="messages" data-chat-room-id="<%= @chat_room.id %>" class="list-group">
    <%= render @messages %>
  </ul>

  <br>

  <%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      Enter your message:
      <%= f.text_area :body, class: 'form-control' %>
      <small class="text-muted">Max 1000 characters</small>
    </div>

    <%= f.submit "Post", class: 'btn btn-primary' %>
  <% end %>

</div>

<br><br>

<div class="container marketing">

  <div class="row">

    <div class="col-lg-4">
      <div class="faction-box">
      <h2>Tournaments</h2>
      <ul class="list-group">
        <% @tournaments.each do |tournament| %>
        <li class="list-group-item">
          <%= link_to [@faction, tournament], class: "action_button" do %>
            <%= icon('fas', 'trophy') %> <%= tournament.name %>
          <% end %>
        </li>
        <% end %>
      </ul>

      <% if can? :update, @faction and @can_join_tournaments.size > 0 %>
      Add tournament:<br>
      <ul class="list-group">
        <% @can_join_tournaments.each do |tournament| %>
            <li class="list-group-item">
              <%= tournament.name %>
              <%= form_for @faction do |form| %>
                <%= form.hidden_field :faction_id, id: :faction_id, value: @faction_id %>
                <%= form.hidden_field :tournament_ids, id: :tournament_id, value: tournament.id %>
                <%= form.submit "Add", class: "btn btn-primary" %>
              <% end %>
            </li>
        <% end %>
      </ul>
      <% end %>
      </div>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4">
      <div class="faction-box">
      <h2>Players</h2>
      <ul class="list-group">
        <% @faction.users.each do |user| %>
          <li class="list-group-item"><%= user.username %> (<%= user.faction_occupation(@faction.id) %>)</li>
        <% end %>
      </ul>
      </div>
    </div><!-- /.col-lg-4 -->

    <% if can? :update, @faction %>
    <div class="col-lg-4">
      <div class="faction-box">
        <h2>Requests</h2>
        <ul class="list-group">
        <% @faction.requests.pending.each do |request| %>
          <li class="list-group-item">
            <%= request.user.username %>
            <%= form_for request  do |form| %>
              <%= form.hidden_field :status, id: :request_status, value: "accepted" %>
              <%= form.submit "Accept", class: "btn btn-primary", style: "margin-left: 5px" %>
            <% end %>

            <%= form_for request  do |form| %>
              <%= form.hidden_field :status, id: :request_status, value: "rejected" %>
              <%= form.submit "Reject", class: "btn btn-outline-danger", style: "margin-left: 5px" %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div><!-- /.col-lg-4 -->
    <% end %>
  </div>
</div>
