<p id="notice"><%= notice %></p>

<p>
  <strong>member:</strong>
  <%= @guess.member.username %>
</p>

<p>
  <strong>Game:</strong>
  <%= @guess.game.home.name %> vs <%= @guess.game.away.name %>
</p>

<p>
  <strong>Result:</strong>
  <%= @guess.result %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
