<% provide(:title, "Games") %>

<h1>Games</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tournament</th>
      <th>Home</th>
      <th>Away</th>
      <th>Result</th>
      <th>kickoff_at</th>
      <th>Stage</th>
      <th>Pool</th>
      <th>Stadium</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.tournament.name %></td>
        <td><%= game.home.name %></td>
        <td><%= game.away.name %></td>
        <td><%= game.result %></td>
        <td><%= game.kickoff_at %></td>
        <td><%= game.stage %></td>
        <td><%= game.pool %></td>
        <td><%= game.stadium.name %></td>
        <td>
          <%= link_to game, class: "action_button" do %>
              <i class="fa fa-info-circle"></i>
          <% end %>
          <%= link_to edit_game_path(game), class: "action_button" do %>
              <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to game, class: "action_button", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times"></i>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
