<% provide(:title, "Teams") %>
<div class="container">
<h1>Teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Flag</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.code %></td>
        <td><%= image_tag(team.flag_path) %> <%= team.flag %></td>
        <td><%= team.selection %></td>
        <td>
          <%= link_to [:admin, team], class: "action_button" do %>
              <i class="fa fa-info-circle"></i>
          <% end %>
          <%= link_to edit_admin_team_path(team), class: "action_button" do %>
              <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to [:admin, team], class: "action_button", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_admin_team_path %>

<br>
<hr>
Import teams from csv file: 
<%= form_tag import_admin_teams_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>
