<% provide(:title, @team.name) %>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @team.code %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @team.flag %>
</p>

<p>
  <strong>Selection:</strong>
  <%= @team.selection %>
</p>

<%= link_to 'Edit', edit_admin_team_path(@team) %> |
<%= link_to 'Back', admin_teams_path %>
