
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <%= link_to "Pari-magique", root_path, id: "logo", class: "navbar-brand" %>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Rules",  rules_path, class: "nav-link" %></li>

          <% if user_signed_in? and current_user.manager? or current_user.admin? %>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <div class="dropdown-menu">
                <%= link_to "Games",         manager_games_path,     class: "dropdown-item" %>
                <% if current_user.admin? %>
                  <%= link_to "Users",       users_path,             class: "dropdown-item" %>
                  <%= link_to "Teams",       admin_teams_path,       class: "dropdown-item" %>
                  <%= link_to "Leagues",     admin_leagues_path,     class: "dropdown-item" %>
                  <%= link_to "Tournaments", admin_tournaments_path, class: "dropdown-item" %>
                  <%= link_to "Stadiums",    admin_stadia_path,      class: "dropdown-item" %>
                  <%= link_to "Rankings",    rankings_path,          class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown nav-item" style="margin-right: 50px;">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><%= icon('user-circle')%> <%= current_user.username %> <b class="caret"></b></a>
              <div class="dropdown-menu">
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <%= icon('cog')%> Profile
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <%= icon('sign-out')%> Log out
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item my-2 my-md-0"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
          <% end %>
          </ul>
      </div>
    </nav>
