
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <%= link_to "Pari-magique", static_pages_home_path, id: "logo", class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="dropdown nav-item">
              <a href="#" class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="dropdown03" aria-haspopup="true" aria-expanded="false">My Factions <b class="caret"></b></a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <% joined_factions.each do |faction| %>
                    <%= link_to faction.name, faction, class: "dropdown-item #{is_faction_active(faction)}" %>
                <% end %>
                <hr>
                <%= link_to new_faction_path, class: "dropdown-item" do %>
                  <%= icon('far', "plus-square")%> Create a faction
                <% end %>
                <%= link_to factions_path, class: "dropdown-item" do %>
                  <%= icon('fas', "user-plus")%> Join existing faction
                <% end %>
              </div>
            </li>
          <% end %>

          <li class="nav-item"><%= link_to "Rules",  rules_path, class: "nav-link" %></li>

          <% if user_signed_in? and current_user.manager? or current_user.admin? %>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <div class="dropdown-menu">
                <%= link_to "Games",         manager_games_path,     class: "dropdown-item" %>
                <% if current_user.admin? %>
                  <%= link_to "Users",       users_path,             class: "dropdown-item" %>
                  <%= link_to "Teams",       admin_teams_path,       class: "dropdown-item" %>
                  <%= link_to "factions",     admin_factions_path,     class: "dropdown-item" %>
                  <%= link_to "Tournaments", admin_tournaments_path, class: "dropdown-item" %>
                  <%= link_to "Stadiums",    admin_stadia_path,      class: "dropdown-item" %>
                  <%= link_to "Rankings",    rankings_path,          class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown nav-item" style="margin-right: 50px;">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><%= icon('far', 'user-circle')%> <%= current_user.username %> <b class="caret"></b></a>
              <div class="dropdown-menu">
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <%= icon('fas', 'cog')%> Profile
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <%= icon('far', 'sign-out')%> Log out
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item my-2 my-md-0"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
          <% end %>
          </ul>
      </div>
    </nav>
