<ul class="nav nav-pills flex-column">
  <li class="nav-item">
      <h2 style="margin-top: 15px">My factions</h2>
  </li>

  <% joined_factions.each do |faction| %>
    <li class="nav-item">
      <%= link_to faction.name, faction, class: "nav-link #{is_faction_active(faction)}" %>
      <ul class="nav nav-pills flex-column">
        <% faction.tournaments.each do |tournament| %>
          <li class="nav-item" style="padding-left: 15px">
            <%= link_to [faction, tournament], class: "nav-link #{is_tournament_active(tournament)}" do %>
              <%= icon('fas', 'trophy') %> <%= tournament.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <li><hr></li>
  <li class="nav-item">
    <%= link_to new_faction_path, class: "nav-link" do %>
      <%= icon('far', "plus-square")%> Create a faction
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to factions_path, class: "nav-link" do %>
      <%= icon('fas', "user-plus")%> Join existing faction
    <% end %>
  </li>

  <li><hr></li>

  <li class="nav-item">
      <h2 style="margin-top: 15px">Replays</h2>
  </li>

  <li class="nav-item">
    <a href="https://old.reddit.com/r/footballdownload/" target="_blank" class="nav-link">footballdownload</a>
  </li>
  <li class="nav-item">
    <a href="http://www.fullmatchesandshows.com/" target="_blank" class="nav-link">fullmatchesandshows</a>
  </li>
  <li class="nav-item">
    <a href="http://footyroom.com/" target="_blank" class="nav-link">footyroom</a>
  </li>

  <li><hr></li>

  <li class="nav-item">
      <h2 style="margin-top: 15px">Stream</h2>
  </li>
  <li class="nav-item">
    <a href="http://livetv.sx/frx/" target="_blank" class="nav-link">LiveTv</a>
  </li>

</ul>
