<ul class="nav nav-pills flex-column">
  <li class="nav-item">
      <h2 style="margin-top: 15px">Leagues</h2>
  </li>

  <% joined_leagues.each do |league| %>
    <li class="nav-item">
      <%= link_to league.name, league, class: "nav-link #{is_league_active(league)}" %>
      <ul class="nav nav-pills flex-column">
        <% league.tournaments.each do |tournament| %>
          <li class="nav-item" style="padding-left: 15px">
            <%= link_to [league, tournament], class: "nav-link #{is_tournament_active(tournament)}" do %>
              <%= icon('trophy') %> <%= tournament.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  
  <li class="nav-item">
    <%= link_to new_league_path, class: "nav-link" do %>
      <%= icon("plus-square")%> Create a league
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to leagues_path, class: "nav-link" do %>
      <%= icon("user-plus")%> Join existing league
    <% end %>
  </li>
</ul>
