<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Pari-magique</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <%= render 'layouts/left_side' %>
        </nav>

         <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
       
            <%= yield %>
      
        </div>
       
        <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
