<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Pari-magique</title>
    <%= csrf_meta_tags %>

    <!-- Add Tether otherwise there is the following error: Bootstrap tooltips require Tether  -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-faded sidebar">
          <%= render 'layouts/left_side' %>
        </nav>

        <main class="col-md-9 offset-md-3 col-lg-10 offset-lg-2 pt-3 no-padding">
            <% if notice %>
                <p class="alert alert-info" role="alert"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert alert-danger" role="alert"><%= alert %></p>
            <% end %>

            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
        </div>
    </div>
  </body>
</html>
